{% extends "base.html" %}

{% block content %}
    <div id="nav">
       <a href="{% url logout %}">Logout</a>
    </div>
    <hr>
Project List <br />

    <!-- This snippet taken from http://djangosnippets.org/snippets/1182/ -->
    <form method="post" action="/projects/">{% csrf_token %}
    {% for f in formset.management_form %}
        {{ f }}
    {% endfor %}
    <table>
        <tr>
        {% for field in formset.forms.0 %}
            {% if not field.is_hidden %}
                <th>{{ field.label }}</th>
            {% endif %}
        {% endfor %}
                <th></th>
        </tr>
        {% for f in formset.forms %}
            <tr>
            {% for field in f %}
                {% if not field.is_hidden %}
                    <td valign="bottom">{% for error in field.errors %} {{error}}  {% endfor %} <br/>{{ field }}</td>
                {% else %}
                    {{ field }} 
                {% endif %}
            {% endfor %}
            <td valign="bottom"><a href="/issues/">Details</a></td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save" >
    </form>
    <!-- end snippet -->
{% endblock %}
