/* Elements */
body{
    background-color: #B0C4DE;
}

/* Typography */
* {
    font-family: sans-serif, Arial, Courier;
    font-size: medium;
}

/* Page Layout */
div#content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

/* Form Tags */

/* Content */
