/* Elements */
body{
    background-color: #D3DFEF;
}

/* Typography */
* {
    font-family: sans-serif, Arial, Courier;
    font-size: medium;
}

/* Page Layout */
div#content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

/* Form Tags */
input, select, textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
}

/* Content */
div#content{
    background-color: #B0C4DE;
    padding : 10px;
    box-shadow: 5px 5px 5px 5px #000000;
    -moz-box-shadow: 5px 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px 5px #000000;
}
